.equipment-title {
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}
.items-container {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}
.items-container .item {
    width: 250px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(125, 172, 219);
    border-radius: 3%;
    overflow: hidden;
}
.item-img-container {
    height: 200px;
    overflow: hidden;
    background-color: rgb(217, 102, 138);
    border-radius: 5%;
}
.items-container .item img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 3%;
    transition: all 0.5s ease-in-out;
}
.items-container .item:hover img {
    scale: 1.3;
}
.items-container .item:hover {
    box-shadow: 5px 5px 5px #9e9e9e;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.item-name {
    color: white;
    overflow:hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cart-btn {
    border: 0;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
}
.cart-btn:hover {
    color: white;
    background-color: #373737aa;
}