#header {
  position: relative;
}

#header .main-container {
  display: grid;
  place-items: center;
  color: white;
  place-items: center;
  width: 100%;
}

#header .header-img {
  height: 480px;
  width: 100%;
  object-fit: cover;
}
.header-container {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.text-container {
  background: #00000051;
  height: 480px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header .title {
  text-align: center;
  font-size: 28px;
}
#header .subtitle {
  text-align: center;
  font-weight: 200;
  font-size: 22px;
  padding-bottom: 5px;
}

#header .content-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

#header #prev,
#header #next {
  position: absolute;
  border: 0;
  background: transparent;
  top: 40%;
  z-index: 30;
}

#header #prev {
  left: 15px;
}

#header #next {
  right: 15px;
}

#header #prev .disable,
#header #next .disable {
  pointer-events: none;
  opacity: 0;
}

#header .dots-container {
  position: absolute;
  bottom: 0;
  z-index: 50;
  left: 50%;
  transform: translateX(-50%);
}

#header .dots-container .dot {
  width: 15px;
  height: 15px;
  margin: 0 2px;
  border: 1px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease-in-out;
}

#header .dots-container .active {
  background-color: #fefdfd;
  width: 35px;
  height: 15px;
  border-radius: 10px;
}
.header-container .slider .slides {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.header-container .slider .slides:not(.active) {
  top: 0;
  left: -100%;
}

@keyframes next1 {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes next2 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes prev1 {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@keyframes prev2 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
#intro {
  width: 95%;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-image {
  width: 50%;
  height: 400px;
  position: relative;
  /* background-color: #00000051; */
}
.intro-image span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50% 50%);
  cursor: pointer;
}
.intro-image img {
  width: 100%;
  height: 400px;
  border-radius: 69% 31% 61% 39% / 45% 78% 22% 55%  ;
  opacity: 80%;
}
.intro-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
.intro-text-container h2 {
  font-size: 30px;
}
.intro-text-container button {
  border: 0;
  background-color: #bbb;
  font-size: 15px;
text-transform: uppercase;
padding: 5px 10px;
border-radius: 5px;
}

.intro-text-container button:hover {
  color: #fff;
}
@media only screen and (max-width: 600px) {
  #intro {
    width: 100%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .intro-text-container {
    width: 100%;
  }
  .intro-image {
    width: 100%;
  }
}
#google-map {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  margin: 10px 0;
}
#google-map iframe {
width: 100%;
}