#header {
  position: relative;
}

#header .main-container {
  display: grid;
  place-items: center;
  color: white;
  place-items: center;
  width: 100%;
}

#header .header-img {
  height: 480px;
  width: 100%;
  object-fit: cover;
}
.header-container {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.text-container {
  background: #00000051;
  height: 480px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header .title {
  text-align: center;
  font-size: 28px;
}
#header .subtitle {
  text-align: center;
  font-weight: 200;
  font-size: 22px;
  padding-bottom: 5px;
}

#header .content-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

#header #prev,
#header #next {
  position: absolute;
  border: 0;
  background: transparent;
  top: 40%;
  z-index: 30;
}

#header #prev {
  left: 15px;
}

#header #next {
  right: 15px;
}

#header #prev .disable,
#header #next .disable {
  pointer-events: none;
  opacity: 0;
}

#header .dots-container {
  position: absolute;
  bottom: 0;
  z-index: 50;
  left: 50%;
  transform: translateX(-50%);
}

#header .dots-container .dot {
  width: 15px;
  height: 15px;
  margin: 0 2px;
  border: 1px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease-in-out;
}

#header .dots-container .active {
  background-color: #fefdfd;
  width: 35px;
  height: 15px;
  border-radius: 10px;
}
.header-container .slider .slides {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.header-container .slider .slides:not(.active) {
  top: 0;
  left: -100%;
}

@keyframes next1 {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes next2 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes prev1 {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@keyframes prev2 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
